In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_excel('dataset.xlsx')

In [49]:
df[df["SARS-Cov-2 exam result"] == "positive"]

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
67,78511c183ae18bc,7,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,d7834ed75f2da44,16,positive,1,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,b16b49f7bd3e692,10,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,4382f5ea05e60c4,2,positive,0,0,0,0.991838,0.792188,-0.341548,1.469188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
676,d3729cd2658ca64,15,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5632,5c386388ba3c3f0,16,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5633,9f8dfe2ae239238,4,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5634,db77903261ab6d0,15,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Detected coronavirus cases
print(len(df["SARS-Cov-2 exam result"][df["SARS-Cov-2 exam result"] == "positive"]))
# No coronavirus
print(len(df["SARS-Cov-2 exam result"][df["SARS-Cov-2 exam result"] == "negative"]))

558
5086

In [26]:
# Coronavirus detected + Influenza B detected
df["SARS-Cov-2 exam result"][(df["SARS-Cov-2 exam result"] == "positive") & (df["Influenza B"] == "detected")]

1400    positive
1705    positive
5169    positive
Name: SARS-Cov-2 exam result, dtype: object

In [23]:
# Coronavirus results of people with positive Influenza A tests
df["SARS-Cov-2 exam result"][df["Influenza A"] == "detected"]

79      negative
423     negative
573     negative
583     negative
645     negative
878     negative
1134    negative
1326    negative
1358    negative
3794    negative
4096    negative
4342    negative
4618    negative
4682    negative
4802    negative
4827    negative
4880    negative
5221    negative
Name: SARS-Cov-2 exam result, dtype: object

In [24]:
# Coronavirus results of people with positive Influenza B tests
df["SARS-Cov-2 exam result"][df["Influenza B"] == "detected"]

30      negative
71      negative
109     negative
115     negative
142     negative
          ...
4714    negative
4933    negative
4979    negative
5073    negative
5169    positive
Name: SARS-Cov-2 exam result, Length: 77, dtype: object

In [28]:
# Hemoglobin mean when coronavirus not detected
df["Hemoglobin"][df["SARS-Cov-2 exam result"] == "negative"].mean()

-0.04185978850493064

In [29]:
# Hemoglobin mean when coronavirus detected
df["Hemoglobin"][df["SARS-Cov-2 exam result"] == "positive"].mean()

0.26225398032062025

In [30]:
# Red blood cells mean when coronavirus detected
df["Red blood Cells"][df["SARS-Cov-2 exam result"] == "positive"].mean()

0.3033725814332804

In [31]:
# Red blood cells mean when coronavirus not detected
df["Red blood Cells"][df["SARS-Cov-2 exam result"] == "negative"].mean()

-0.04851622194112754

In [36]:
# pO2 when coronavirus not detected
df["pO2 (arterial blood gas analysis)"][df["SARS-Cov-2 exam result"] == "negative"].mean()

-0.30116831324994564

In [42]:
# pO2 when coronavirus detected
df["pCO2 (arterial blood gas analysis)"][df["SARS-Cov-2 exam result"] == "positive"].mean()

-0.33620694967416614

In [43]:
# CO2 when coronavirus detected
df["Total CO2 (arterial blood gas analysis)"][df["SARS-Cov-2 exam result"] == "positive"].mean()

-0.25883706491619635

In [44]:
# CO2 when coronavirus not detected
df["Total CO2 (arterial blood gas analysis)"][df["SARS-Cov-2 exam result"] == "negative"].mean()

0.24034868872591433

In [40]:
# Total Bilirubin when coronavirus not detected
df["Total Bilirubin"][df["SARS-Cov-2 exam result"] == "negative"].mean()

0.06651422559795245

In [45]:
# Total Bilirubin when coronavirus detected
df["Total Bilirubin"][df["SARS-Cov-2 exam result"] == "positive"].mean()

-0.23612551353871822